<!DOCTYPE html>
<html>
<title>User On Board</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="../vue/vue.js" ></script>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/css.css">
<link rel="stylesheet" href="../css/css-montserrat.css">
<link rel="stylesheet" href="../css/font-awesome.min.css">
<link rel="stylesheet" href="../css/w3.css">
<script src="../javascript/jquery.min.js" ></script>
<script src="../vue/axios.js" type="application/javascript"></script>
<script src="../vue/axios.min.js" type="application/javascript"></script>
<script src="../vue/vue-router.js" type="application/javascript"></script>
<script src="../vue/vuejs-datepicker.min.js" type="application/javascript"></script>
<style>
.redirect{
display: none;
}
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
td {
    border: 3px solid;
}
</style>
<body class="w3-content" style="max-width:1200px">
<div id="docApp">
    <!-- Sidebar/menu -->
    <!--menu-bar></menu-bar>-->

	<a id="redirect" class="redirect" href="http://localhost:8080/home">logout</a> 
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:250px">

        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:83px"></div>

        <!-- Top header -->
        <header class="w3-container w3-xlarge">
           <div > <p class="w3-left">User On-Board System</p></div>
           <div class="w3-right" v-if="logoutEnabled"><logout-component></logout-component></div>
        </header>

        <!-- Image header -->
        <div class="w3-display-container w3-container">

        </div>

        <div class="container">
            <!-- Product grid -->
            <div v-show="showLoginPage">
                <login-template  v-on:show-options="hideLogin" ></login-template>
            </div>
            <div v-if="showRegistrationPage">
                <register-template v-on:show-options="hideRegistration" ></register-template>
          </div>
            
            <div v-else-if="showContent">
                <div>
                    <div><b>Welome this is home content! Sorry about the look I mostly focus on functionality.</b></div>
                </br>
                    <div class="list-group">
                        <div v-if="isAdmin">
                            <button class="btn btn-secondary" @click="showCreateRegLink()">Create Registration Link</button>
                            <button class="btn btn-secondary" @click="showRegisteredUsers()">Show Registered Users</button>
                            <button class="btn btn-secondary" @click="showActiveUsersSession()">Show Active Users with Session</button>
                        <br></br><br></br>
                            <div v-if="isCreateRegLink"><create-registration-url-component ></create-registration-url-component></div>
                            <div v-else-if="showRegisteredUserComponent"><registered-users-component ></registered-users-component></div>
                            <div v-else-if="showActiveUserComponent"><active-users-component ></active-users-component></div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
 </div>

    <script src="../vue/app.js" type="application/javascript"></script>


</body>
</html>
